In [1]:
import pandas as pd

In [2]:
names = pd.read_csv('companion-planting-wikidata-latin.csv')
names.head(10)

         name       id                            latin
0    Shallots  Q193498               Allium ascalonicum
1    Cabbages  Q146212                Brassica oleracea
2      Garlic   Q23400                   Allium sativum
3       Basil   Q38859                 Ocimum basilicum
4  Grape Vine   Q30046                   Vitis vinifera
5    Broccoli   Q47722   Brassica oleracea var. italica
6     Lettuce   Q83193                   Lactuca sativa
7      Onions   Q23485                      Allium cepa
8    Mulberry   Q44789                            Morus
9  Cauliﬂower    Q7537  Brassica oleracea var. botrytis

In [4]:
df = pd.read_csv('taxon-product.csv')
df

,item,taxon,product,productLabel
0,http://www.wikidata.org/entity/Q30046,Vitis vinifera,http://www.wikidata.org/entity/Q10978,grape
1,http://www.wikidata.org/entity/Q25237,Pisum sativum,http://www.wikidata.org/entity/Q107263052,pea skin
2,http://www.wikidata.org/entity/Q25284,Petroselinum crispum,http://www.wikidata.org/entity/Q65522500,parsley
3,http://www.wikidata.org/entity/Q22694,Origanum majorana,http://www.wikidata.org/entity/Q72488245,marjoram oil
4,http://www.wikidata.org/entity/Q23485,Allium cepa,http://www.wikidata.org/entity/Q104176807,onion juice
...,...,...,...,...
161,http://www.wikidata.org/entity/Q42339,Phaseolus vulgaris,http://www.wikidata.org/entity/Q96068571,Phaseoli fructus (sine semine)
162,http://www.wikidata.org/entity/Q43238,Poaceae,http://www.wikidata.org/entity/Q2995529,grain
163,http://www.wikidata.org/entity/Q42339,Phaseolus vulgaris,http://www.wikidata.org/entity/Q74662248,common bean
164,http://www.wikidata.org/entity/Q51148,Allium schoenoprasum,http://www.wikidata.org/entity/Q9323487,edible plant
165,http://www.wikidata.org/entity/Q43238,Poaceae,http://www.wikidata.org/entity/Q336989,hay

In [3]:
relations = pd.read_csv('companion-planting.csv', names = ['v1','v2','rel'])
relations.head(10)

      v1           v2           rel
0  Apple        Chive     companion
1  Apple       Garlic     companion
2  Apple        Grass  antagonistic
3  Apple  Horseradish     companion
4  Apple   Lemon Balm     companion
5  Apple     Marigold     companion
6  Apple      Mustard     companion
7  Apple   Nasturtium     companion
8  Apple       Potato  antagonistic
9  Apple      Spinach     companion

In [20]:
names[['name','latin']].rename(columns={'name':'v1'})

             v1             latin
0      Shallots               NaN
1      Cabbages               NaN
2        Garlic    Allium sativum
3         Basil  Ocimum basilicum
4    Grape Vine    Vitis vinifera
..          ...               ...
68   Nasturtium        Nasturtium
69  Fruit Trees               NaN
70  Nasturtiums               NaN
71        Apple      Malus pumila
72      Pumpkin               NaN

[73 rows x 2 columns]

In [23]:
p1 = relations.merge(names[['name','latin']].rename(columns={'name':'v1','latin':'v1_latin'}), 'left')
p2 = p1.merge(names[['name','latin']].rename(columns={'name':'v2','latin':'v2_latin'}), 'left')

In [25]:
p2.reindex(head(30)

,v1,v2,rel,v1_latin,v2_latin
0,Apple,Chives,companion,Malus pumila,Allium schoenoprasum
1,Apple,Garlic,companion,Malus pumila,Allium sativum
2,Apple,Grass,antagonistic,Malus pumila,Poaceae
3,Apple,Horseradish,companion,Malus pumila,Armoracia rusticana
4,Apple,Lemon Balm,companion,Malus pumila,Melissa officinalis
5,Apple,Marigold,companion,Malus pumila,Tagetes
6,Apple,Mustard,companion,Malus pumila,Brassica
7,Apple,Nasturtiums,companion,Malus pumila,NaN
8,Apple,Potato,antagonistic,Malus pumila,Solanum tuberosum
9,Apple,Spinach,companion,Malus pumila,Spinacia oleracea
10,Apple,Tansy,companion,Malus pumila,Tanacetum vulgare
11,Apple,Yarrow,companion,Malus pumila,Achillea millefolium
12,Apricot,Basil,companion,Prunus armeniaca,Ocimum basilicum
13,Apricot,Garlic,companion,Prunus armeniaca,Allium sativum
14,Apricot,Grass,antagonistic,Prunus armeniaca,Poaceae
15,Apricot,Horseradish,companion,Prunus armeniaca,Armoracia rusticana
16,Apricot,Lemon Balm,companion,Prunus armeniaca,Melissa officinalis
17,Apricot,Marigold,companion,Prunus armeniaca,Tagetes
18,Apricot,Mustard,companion,Prunus armeniaca,Brassica
19,Apricot,Nasturtiums,companion,Prunus armeniaca,NaN
20,Apricot,Spinach,companion,Prunus armeniaca,Spinacia oleracea
21,Apricot,Sunﬂower,companion,Prunus armeniaca,Helianthus annuus
22,Apricot,Tansy,companion,Prunus armeniaca,Tanacetum vulgare
23,Apricot,Tomato,antagonistic,Prunus armeniaca,Solanum lycopersicum
24,Apricot,Yarrow,companion,Prunus armeniaca,Achillea millefolium
25,Asparagus,Basil,companion,Asparagus officinalis,Ocimum basilicum
26,Asparagus,Chives,companion,Asparagus officinalis,Allium schoenoprasum
27,Asparagus,Marjoram,companion,Asparagus officinalis,Origanum majorana
28,Asparagus,Parsley,companion,Asparagus officinalis,Petroselinum crispum
29,Asparagus,Tomato,companion,Asparagus officinalis,Solanum lycopersicum

In [4]:
df = pd.read_csv('eppo-practicalplants-hosts.csv')
df.head(10)

   Unnamed: 0  codeid                      fullname eppocode
0           1   21893          Arisarum simorrhinum    AAUVS
1           2   21894              Arisarum vulgare    AAUVU
2           3   21916               Abelia triflora    ABETR
3           4   22027         Abelmoschus moschatus    ABMMO
4           5   22082                 Acacia aneura    ACAAN
5           6   22375           Acer x bornmuelleri    ACRBO
6           7   22378                Acer campestre    ACRCA
7           8   22382                  Acer caesium    ACRCE
8           9   22385  Acer caesium subsp. giraldii    ACRCI
9          10   22507             Acer x zoeschense    ACRZO

In [5]:
df = pd.read_csv('eppo-practicalplants-pests.csv')
df.head(10)

,Unnamed: 0,eppocode,pests_eppocode,idclass,labelclass,fullname
0,1,AAUVS,PHYSCC,9,Host,Phyllosticta colocasiicola (as Aroideae)
1,2,AAUVS,PHYTOO,9,Host,Phytophthora colocasiae (as Aroideae)
2,3,AAUVS,PRATCO,9,Host,Pratylenchus coffeae (as Aroideae)
3,4,AAUVS,PYTHMY,9,Host,Pythium myriotylum (as Aroideae)
4,5,AAUVS,RADOSI,9,Host,Radopholus similis (as Aroideae)
5,6,AAUVS,RADOCI,9,Host,Radopholus similis citrus race (as Aroideae)
6,7,AAUVS,VASCXA,9,Host,Vasculomyces xanthosomae (as Aroideae)
7,8,AAUVS,XANTDF,9,Host,Xanthomonas axonopodis pv. dieffenbachiae (as ...
8,9,AAUVU,PHYSCC,9,Host,Phyllosticta colocasiicola (as Aroideae)
9,10,AAUVU,PHYTOO,9,Host,Phytophthora colocasiae (as Aroideae)

In [8]:
df = pd.read_csv('practicalplants-rdf-wayback-urls.csv', header=None)
df.head(10)

  http://practicalplants.org/wiki/Special:ExportRDF/Acer_campestre
0  http://practicalplants.org/wiki/Special:Export...
1  http://practicalplants.org/wiki/Special:Export...
2  http://practicalplants.org/wiki/Special:Export...
3  http://practicalplants.org/wiki/Special:Export...
4  http://practicalplants.org/wiki/Special:Export...
5  http://practicalplants.org/wiki/Special:Export...
6  http://practicalplants.org/wiki/Special:Export...
7  http://practicalplants.org/wiki/Special:Export...
8  http://practicalplants.org/wiki/Special:Export...
9  http://practicalplants.org/wiki/Special:Export...